{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Authentication - {% block subtitle %}{% endblock subtitle %}</title>
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>

    {% block css %}{% endblock css %}
</head>
<body>

    <div class="container mt-3">
        {% block content %}{% endblock content %}
    </div>


    {% block js %}{% endblock js %}
</body>
</html>